
.marker,
.text{
	opacity:0;
	}
.marker{
	stroke-dasharray: 300;
	}	
.nepal_map_outline {
	stroke-dasharray: 4000;
	opacity:0;
}

.zone{
	opacity: 0;
	cursor: pointer;
	}
.zone.hover{	
	fill: #ccc;
	}